
  <div class="jumbotron">
    <h1>Blocmetrics</h1>
    <p>
      <em>Analytics can be simple</em>
    </p>
    <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
  </div>

<div class="row">

  <div class="col-md-4">
    <h3>Setup Site</h3>
    <p>
      Add a site, copy some code to prove you own.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Choose What to Track</h3>
    <p>
      Install a javascript on your server with info.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Look at Charts</h3>
    <p>
      Look at the numbers and make what you will of it.
    </p>
  </div>

</div>
