<%= simple_form_for Website.new do |f| %>
  <div class="form-group">
    <%= f.input :name, placeholder: "Site Name" %>
  </div>
  <div class="form-group">
    <%= f.input :url, placeholder: "URL" %>
  </div>
    <%= f.button :submit, "Add Site", class: "btn btn-default" %>
<% end %>
