<h1>My Sites</h1>
<p>Welcome <%= current_user.email %></p>


<div class="sites">
  <%= render partial: 'form' %>
  <hr>
  <p>
    Your Sites:<br>
  </p>
  <ul>
    <% current_user.websites.each do |website| %>
      <li>
        <%= link_to website.name, website %> | <a href="<%= website.url %>"
        target="_blank">Visit Site</a>
        <% if website.verified? %><span class="glyphicon glyphicon-ok"></span><% end %>
      </li>
    <% end %>
  </ul>
</div>
